@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-draw {
    animation: drawSVGPath 1.2s ease-in-out forwards;
  }
}

@keyframes drawSVGPath {
  0% { stroke-dashoffset: var(--path-length); }
  100% { stroke-dashoffset: 0; }
}

body {
  margin: 0;
  overscroll-behavior: none;
}
